<%- include('header') -%> 



    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Page Shifted flights @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <div id="qoqjBmOjmMCg2gtcZ6H37" style="overflow: hidden !important;">
        <div class="bpk-content-bubble_bpk-content-bubble__wrapper__NmMzN bpk-content-bubble__wrapper--with-pointer HeroImage_Hero__MTY1Y"
            style="background-image:url(./pics/dba.jpg); min-height: 100vh;">
            <div class="bpk-content-bubble_bpk-content-bubble__container__NTFlM">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                    <div class="container-fluid">
                        <div class="logo-container">
                            <div class="specialdiv">
                                <li>
                                    <div class="logo-holder logo-4">
                                        <a href="">
                                            <h3 style="text-shadow: 3px 3px #000;">Sardaria</h3>
                                            <p>Tours & Travels</p>
                                        </a>
                                    </div>
                                </li>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                            </ul>
                            <form class="d-flex">
                                <section>
                                    <nav class="navbar navbar-light">
                                        <div class="container">
                                            <form class="d-flex">
                                                <div class="m-1">
                                                    <!-- Button trigger modal login -->
                                                    <button type="button" id="loginButton" style="color: white;" class="btn btn4">
                                                        Log In
                                                    </button>
                                                </div>
                                                <div class="m-1">
                                                    <!-- Button trigger modal signup-->
                                                    <button type="button" id="signButton"
                                                        style="background-color: #12214a; border: 1px solid white;"
                                                        class="btn btn-primary btn5">
                                                        Sign Up
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </nav>
                            </form>
                        </div>
                    </div>
                </nav>
                <div 
                    class="bpk-content-bubble_bpk-content-bubble__content-wrapper__NWMzN HeroImage_InnerContent__ZGQ0Y">
                    <div class="container">
                        <div class="row">
                            <div id="boxesSizes" class="col-xxl-4 col-lg-6 col-md-10 mb-3 mt-3">
                                <div class="container-fluid">
                                    <nav id="PrimaryNav" class="PrimaryNav_PrimaryNav__ZDY0O container">
                                        <div class="HeaderTab_HeaderTab__NGUyY"><a data-cy="airli-feature" id="airli"
                                                style="background-color: #12214a;" href="#"
                                                class="js-header-tab HeaderTab_HeaderTab__link__OGE5M HeaderTab_HeaderTab__link--active__OWQwZ"
                                                data-analytics-name="flights"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="24" height="24" style="width:1.5rem;height:1.5rem"
                                                    class="HeaderTab_HeaderTab__icon__ZTZhY HeaderTab_HeaderTab__icon--active__NTA1Z HeaderTab_HeaderTab__icon--mobile__YjE1Y BpkIcon_bpk-icon--rtl-support__YzA3O">
                                                    <path
                                                        d="M19.616 3.047a5.995 5.995 0 0 0-2.536 1.547l-8.188 8.373a3.384 3.384 0 0 0-.403.498l-1.287 1.186a.903.903 0 0 1-.594.24l-2.58.05a.913.913 0 0 0-.976.616.943.943 0 0 0 .473 1.155l2.56 1.012a.91.91 0 0 1 .492.468l1.038 2.27a.905.905 0 0 0 1.16.474.934.934 0 0 0 .575-.987l-.114-2.36a.918.918 0 0 1 .282-.709l1.173-1.12a3.358 3.358 0 0 0 .54-.448l1.27-1.298.609.621 2.886 6.062a.452.452 0 0 0 .732.123l.504-.516a1.883 1.883 0 0 0 .487-1.728l-1.582-7.085a1.838 1.838 0 0 1 .478-1.685l2.887-2.952a6.154 6.154 0 0 0 1.41-2.28l.022-.059a1.112 1.112 0 0 0-1.318-1.469z">
                                                    </path>
                                                    <path
                                                        d="M12.03 8.22a.458.458 0 0 0-.257-.765L5.517 6.068a1.792 1.792 0 0 0-1.69.498l-.52.53a.46.46 0 0 0 .12.73L9.073 10.9c.358.18.56-.104.833-.399z">
                                                    </path>
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    width="18" height="18" style="width:1.125rem;height:1.125rem"
                                                    class="HeaderTab_HeaderTab__icon__ZTZhY HeaderTab_HeaderTab__icon--active__NTA1Z HeaderTab_HeaderTab__icon--desktop__ZTJiM BpkIcon_bpk-icon--rtl-support__YzA3O">
                                                    <path
                                                        d="M1.802 6.623l6.279 3.676a1.107 1.107 0 0 0 1.317-.205L12.75 6.75c.32-.326-.336-.632-.782-.716l-8.274-1.69a1.111 1.111 0 0 0-1 .317L1.664 5.71a.58.58 0 0 0 .138.913z">
                                                    </path>
                                                    <path
                                                        d="M6.125 15.085a1.114 1.114 0 0 0 .973-.321l11.77-11.995a4.28 4.28 0 0 1 2.13-1.197l.201-.043a1.049 1.049 0 0 1 1.273 1.296l-.043.206a4.408 4.408 0 0 1-1.175 2.17L17.45 9.078a1.16 1.16 0 0 0-.31 1.016l1.742 9.732a1.16 1.16 0 0 1-.3 1.069l-1.008 1.026a.557.557 0 0 1-.896-.14l-3.664-7.13a.557.557 0 0 0-.896-.14l-2.59 2.64a1.158 1.158 0 0 0-.297 1.085l.662 2.746a1.475 1.475 0 0 1-.86 1.399h-.001a1.1 1.1 0 0 1-1.529-.547L6.29 18.822a1.725 1.725 0 0 0-.791-.807l-3.212-.951a1.163 1.163 0 0 1-.542-1.537 1.432 1.432 0 0 1 1.375-.93l3.006.488z">
                                                    </path>
                                                </svg><span style="margin-left: 5px;"
                                                    class="HeaderTab_HeaderTab__text__MTlkY HeaderTab_HeaderTab__text--large__NzJmO">Flights</span></a>
                                        </div>




                                        <!-- @@@@@@@@@ Hotels Button @@@@@@@@@@@ -->
                                        <!-- <div class="HeaderTab_HeaderTab__NGUyY"><a data-cy="skhot-feature" id="skhot"
                                                style="transform: translate(0, 21%); height: 30px;" href="#"
                                                class="js-header-tab HeaderTab_HeaderTab__link__OGE5M"
                                                data-analytics-name="hotels" data-feature="WEB_HEADER_HOTEL_TAB"
                                                data-feature-was-seen-auto-emit="true"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    style="width:1.5rem;height:1.5rem"
                                                    class="HeaderTab_HeaderTab__icon__ZTZhY HeaderTab_HeaderTab__icon--mobile__YjE1Y BpkIcon_bpk-icon--rtl-support__YzA3O">
                                                    <path
                                                        d="M4.608 5.93A1.153 1.153 0 0 0 4 7.013V10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.2a.8.8 0 0 0 .8.8h.4a.8.8 0 0 0 .8-.8V9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1a1 1 0 0 0 1 1h.999a1 1 0 0 0 1-1l-.002-1H20V7.013a1.154 1.154 0 0 0-.608-1.083l-1.77-.758a14.067 14.067 0 0 0-11.244 0zM3 12a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h.28a1 1 0 0 0 .948-.684L5 17h14l.772 2.316a1 1 0 0 0 .949.684H21a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1z">
                                                    </path>
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    width="18" height="18" style="width:1.125rem;height:1.125rem"
                                                    class="HeaderTab_HeaderTab__icon__ZTZhY HeaderTab_HeaderTab__icon--desktop__ZTJiM BpkIcon_bpk-icon--rtl-support__YzA3O">
                                                    <path
                                                        d="M3.684 5.067A1.228 1.228 0 0 0 3 6.227V9.43a1.1 1.1 0 0 0 1.125 1.07H5.25A.75.75 0 0 0 6 9.75v-1.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 0 .75.75h1.5a.75.75 0 0 0 .75-.75v-1.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 0 .75.75h1.123a1.099 1.099 0 0 0 1.125-1.073l-.001-1.07H21v-2.13a1.228 1.228 0 0 0-.684-1.16l-1.991-.812a16.569 16.569 0 0 0-12.65 0zM4.5 12a3 3 0 0 0-3 3v5.25a.75.75 0 0 0 .75.75h.286a.75.75 0 0 0 .671-.415L4.5 18h15l1.293 2.585a.75.75 0 0 0 .67.415h.287a.75.75 0 0 0 .75-.75V15a3 3 0 0 0-3-3z">
                                                    </path>
                                                </svg><span style="margin-left: 5px;"
                                                    class="HeaderTab_HeaderTab__text__MTlkY HeaderTab_HeaderTab__text--large__NzJmO">Hotels</span></a>
                                        </div> -->
                                    
                                    
                                    
                                    </nav>
                                </div>
                                <form action="/home-guest" method="post">
                                <div class="booking-form-box">
                                    <div class="radio-btn">
                                        <input type="radio" name="group1" value="roundTrip" class="btn" id="roundTrip"
                                            checked="checked"><span>Roundtrip</span>
                                        <input type="radio" name="group1" class="btn" value="oneWay" id="oneWay"><span>One way</span>
                                        <!-- <input type="radio" name="group1" value="multiCity" class="btn"
                                            id="multiCity"><span>Multi-City</span> -->
                                    </div>
                                    <div class="booking-form">
                                        <label>Flying From</label>
                                        <input id="autocomplete-airport-1" style="text-transform: uppercase;" required autocomplete="off" type="text" name="fromRoundTrip" placeholder="City or Airport" class="form-control">
                                        <label>Flying To</label>
                                        <input id="autocomplete-airport-2" style="text-transform: uppercase;" required autocomplete="off" type="text" name="toRoundTrip" placeholder="City or Airport" class="form-control">
                                        <div class="input-grp">
                                            <label>Departing</label>
                                            <input type="date" id="todaysDate" required name="departingDateRoundTrip" class="select-date form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Returning</label>
                                            <input type="date" id="returningDate" required name="returnDateRoundTrip" class="select-date form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Adults</label>
                                            <input type="number" name="adults" required value="1" min="1" class="form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Children</label>
                                            <input min="0" max="9" value="0" type="number" onchange="addAgeDivs()" id="noOfChildren" name="children" class="form-control">
                                        </div>
                                        <div id="addChildDiv"></div>
                                        <div class="input-grp">
                                            <label>Travel Class</label>
                                            <select required name="cabinClasses" class="custom-select">
                                                <option value="economy">Economy</option>
                                                <option value="business">Business</option>
                                                <option value="first">First</option>
                                            </select>
                                        </div>
                                        <div class="input-grp">
                                            <button type="submit" id="showBtnFlights" class="btn flight">Show Flights</button>
                                        </div>
                                    </div>
                                    <div style="display: none;" class="booking-form2">
                                        <div class='for-removing'>
                                            <div class="input-grp2">
                                                <label>Flying From</label>
                                                <input type="text" placeholder="City or Airport" class="form-control">
                                            </div>
                                            <div class="input-grp2">
                                                <label>Flying To</label>
                                                <input type="text" placeholder="City or Airport" class="form-control">
                                            </div>
                                            <div class="input-grp2">
                                                <label>Departing</label>
                                                <input type="date" id="todaysDate2" class="select-date form-control">
                                            </div>
                                            <!-- <a style="text-decoration: none; color: #fff; font-size: 20px;" class="remove" href="javascript:void(0)">x</a> -->
                                            </div>
                                        <ul style="padding: 0; margin: 0; box-sizing: border-box;">
                                        <div id="addedFlights">
                                            
                                        </div>
                                        </ul>
                                    
                                        <div class="input-grp2">
                                            <label>Adults</label>
                                            <input type="number" value="1" class="form-control">
                                        </div>
                                        <div class="input-grp2">
                                            <label>Children</label>
                                            <input type="number" value="0" class="form-control">
                                        </div>
                                        <div class="input-grp2">
                                            <label>Travel Class</label>
                                            <select class="custom-select">
                                                <option value="1">Economy Class</option>
                                                <option value="2">Business Class</option>
                                            </select>
                                        </div>
                                        <div class="input-grp2">
                                            <button type="button" onclick="addRemFlightsForm()" id="addFlight" class="btn flight2">Add Flight</button>
                                        </div>
                                        <div class="input-grp2">
                                            <button type="button" class="btn flight2">Show Flights</button>
                                        </div>
                                    </div>
                                    <div style="display: none;" class="booking-form3">
                                        <label>Where do you want to stay?</label>
                                        <input type="text" placeholder="Enter destination or hotel name"
                                            class="form-control">
                                        <div class="input-grp">
                                            <label>Check-in</label>
                                            <input type="date" class="select-date form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Check-out</label>
                                            <input type="date" id="returningDate" class="select-date form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Guests</label>
                                            <input type="number" value="1" class="form-control">
                                        </div>
                                        <div class="input-grp">
                                            <label>Rooms</label>
                                            <input type="number" value="1" class="form-control">
                                        </div>
                                        <div class="input-grp">
                                            <button style="margin-top: 25px;" type="submit"
                                                class="btn flight">Search Hotels</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div class="col-xxl-6 col-lg-6 col-md-12"
                                style="color: #fff; text-align: left; padding: 50px; text-shadow: 2px 2px #12214a;">
                                <h1 id="headingRightSide">Cheap flights everywhere,<br> from anywhere</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- @@@@@@@@@@@@@@@@@@@subscribe@@@@@@@@@@@@@@@@@@@ -->


    <!-- @@@@@@@@@@@@@@@@@@@@@@@@  Why Us @@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <div class="container" data-aos="fade-up">
        <div style="margin-top: 200px;" class="text-center">
            <h1>Why to Book with Call Center</h1>
        </div>
        <div class="top_header">
            <section>
                <span><i style="color: black;" class="fa fa-phone"></i></span>
                <span>(0333) 451 3334</span>
                <span>|</span>
                <span>(0321) 4414 707</span>
            </section>
        </div>
        <div>
            <div class="row start1-sub">
                <div class="col-md-4">
                    <div class="box-part1 box-no-2">

                        <br>Expert guidance by our
                        Travel experts
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-part1 box-no-2">

                        <br>Flexible payment
                        plans
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-part1 box-no-2">

                        <br>24-hour
                        cancellation
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body2" data-aos="fade-up">
        <!-- <h3 style="position: absolute; top: 10px; z-index: 10; margin-left: 100px; max-width: 100%;" class="mt-5 container">What Our Customers Say About Our Service?</h3> -->
        <main>

            <div class="slider">
          
              <div class="buttons">
                <div class="previous"></div>
                <div class="next"></div>
              </div>
          
              <div class="slide">
                <div class="testimonial">
                  <blockquote>“ I’ve been interested in coding for a while but never
                    taken the jump, until now.
                    I couldn’t recommend this course enough. I’m now in the job of my
                    dreams and so excited about the future. ”</blockquote>
                  <p class="author">Tanya Sinclair
                    <span>UX Engineer</span>
                  </p>
                </div>
          
                <div class="slider-img">
                  <img src="https://alcs-slider.netlify.app/images/image-tanya.jpg" alt="Author Image">
                </div>
          
              </div>
          
              <div class="slide">
                <div class="testimonial">
                  <blockquote>“ If you want to lay the best foundation possible I’d
                    recommend taking this course.
                    The depth the instructors go into is incredible. I now feel so
                    confident about
                    starting up as a professional developer. ”</blockquote>
                  <p class="author">John Tarkpor
                    <span>Junior Front-end Developer</span>
                  </p>
                </div>
          
                <div class="slider-img">
                  <img src="https://alcs-slider.netlify.app/images/image-john.jpg" alt="Author Image">
                </div>
          
              </div>
          
            </div>
          
          </main>
          
          
    </div>

    <br>
    <br>
    <br>
    <br>

    <hr>


    <!-- @@@@@@@@@@@@@@@@@@ hotels @@@@@@@@@@@@@@@@@@@ -->
    <!-- <div data-aos="fade-up" class="InspirationSection_InspirationSection__OGY4O">
        <div class="InspirationSection_InspirationSection__title__ZjcyM">
            <p style="font-size: 30px;" class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xxl__NmFiM BpkText_bpk-text--bold__ZGE2M">Need
                Inspiration?</p>
            <div class="InspirationSection_InspirationSection__subtitle__NTI4M">
                <p class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM">View our hand-picked hotel destinations
                </p>
            </div>
        </div>
        <div class="InspirationSection_InspirationSection__grid__NWViZ"><a
                href="/hotels/united-arab-emirates/dubai-hotels/ci-27540839?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Dubai"
                                src="https://content.skyscnr.com/e87b304f10a700cae0d08ea920c8be32/GettyImages-470434611.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Dubai</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            United Arab Emirates<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/turkey/istanbul-hotels/ci-27542903?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Istanbul"
                                src="https://content.skyscnr.com/d23308b5729b733820564edb659313d2/GettyImages-474693922.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Istanbul</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Türkiye (Turkey)<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/saudi-arabia/madinah-hotels/ci-27544896?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Madinah"
                                src="https://content.skyscnr.com/c0dc015f4c86e73ee45286a8da0193e2/eyeem-25920309-98910903.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Madinah</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Saudi Arabia<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/pakistan/lahore-hotels/ci-27544055?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Lahore"
                                src="https://content.skyscnr.com/cb2379d595ce126f75634f7e61117cda/GettyImages-93341300.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Lahore</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Pakistan<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/pakistan/karachi-hotels/ci-27543850?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Karachi"
                                src="https://content.skyscnr.com/872317b6da3643ec31ca0700bd24779e/karachi-monument.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Karachi</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Pakistan<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/thailand/bangkok-hotels/ci-27536671?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Bangkok"
                                src="https://content.skyscnr.com/e0a42512a8f7baba699430c43d90e339/GettyImages-465582049.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Bangkok</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Thailand<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/saudi-arabia/jeddah-hotels/ci-27542964?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Jeddah"
                                src="https://content.skyscnr.com/06153975272c8bdc7deccf0b138c4598/GettyImages-175802626.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Jeddah</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Saudi Arabia<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/malaysia/kuala-lumpur-hotels/ci-27543923?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="Kuala Lumpur"
                                src="https://content.skyscnr.com/1774d53524a0a485c5c990678a472cf6/GettyImages-503612842.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        Kuala Lumpur</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            Malaysia<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a><a href="/hotels/united-kingdom/london-hotels/ci-27544008?locale=en-GB&amp;market=PK&amp;currency=PKR"
                class="BpkCard_bpk-card__YmQ2M InspirationCard_InspirationCard__ZGE4Y" data-test-id="inspiration-card">
                <div class="InspirationCard_InspirationCard__image__YmIwM">
                    <div>
                        <div class="BpkImage_bpk-image__OTUyZ BpkImage_bpk-image--no-background__ODNhO"
                            style="height: 0px; padding-bottom: 50%;"><img class="BpkImage_bpk-image__img__NzNjY"
                                alt="London"
                                src="https://content.skyscnr.com/1017dd4cef7a773021e1b335b3410d30/GettyImages-487828389.jpg">
                        </div>
                    </div>
                </div>
                <div class="InspirationCard_InspirationCard__content__ZTIzY">
                    <p
                        class="BpkText_bpk-text__MmJjN BpkText_bpk-text--xl__Nzk2M BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__name__ZDE4M">
                        London</p>
                    <div class="InspirationCard_InspirationCard__nation__ZDFiN">
                        <p
                            class="BpkText_bpk-text__MmJjN BpkText_bpk-text--base__ZGRlM BpkText_bpk-text--bold__ZGE2M InspirationCard_InspirationCard__nation--name__NDBlN">
                            United Kingdom<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="InspirationCard_InspirationCard__rtlTransform__YmMxO"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M8.095 4.887a1.496 1.496 0 0 1 2.008 0l5.948 6.397a1 1 0 0 1 .003 1.358l-6.01 6.532a1.427 1.427 0 0 1-1.949-.138 1.572 1.572 0 0 1-.103-1.997l4.638-5.078-4.535-4.97a1.72 1.72 0 0 1 0-2.104z">
                                    </path>
                                </svg></span></p>
                    </div>
                </div>
            </a></div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br> -->

    <!-- @@@@@@@@@@@@@@@@@newsletter@@@@@@@@@@@@@@@@@ -->


    <div style="overflow: hidden;" class="mt-5" data-aos="fade-up">
        <section id="newsletter">
            <div style="background: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
            url(./pics/911929.jpg) no-repeat center center/cover; background-position: center;" class="picture">
                <article class="welcome">
                    <h2>Never miss an offer</h2>
                    <p>Subscribe and be the first to receive our exclusive offers.</p>
                    <form action="/submit1" method="post">
                        <input autocomplete="off" type="tel" name="tel" id="" placeholder="enter your phone no ...">
                        <input type="submit" value="join us">
                    </form>
                    <br>
                    <h5 class="text-center">OR</h5>
                    <br>
                    <form action="/submit1" method="post">
                        <input type="email" autocomplete="off" name="email" id="" placeholder="enter your email ...">
                        <input type="submit" value="join us">
                    </form>
                </article>
            </div>
        </section>
    </div>



    <!-- @@@@@@@@@@@@@@@@@ phone number @@@@@@@@@@@@@@ -->
    



    
    





<%- include('footer') %>
