:root {
    --FONTS-SANS: "GT America", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --FONTS-MONO: "GT America Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --FONTS-WIDE: "Faktum Wide", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --FONT-SIZES-D1: 72px;
    --FONT-SIZES-D2: 60px;
    --FONT-SIZES-D3: 48px;
    --FONT-SIZES-H1: 40px;
    --FONT-SIZES-H2: 30px;
    --FONT-SIZES-H3: 24px;
    --FONT-SIZES-H4: 20px;
    --FONT-SIZES-H5: 18px;
    --FONT-SIZES-C1: 16px;
    --FONT-SIZES-C2: 14px;
    --FONT-SIZES-C3: 12px;
    --FONT-SIZES-C4: 10px;
    --BLACK-100: rgba(0, 0, 0, .1);
    --BLACK-200: rgba(0, 0, 0, .2);
    --BLACK-300: rgba(0, 0, 0, .3);
    --BLACK-400: rgba(0, 0, 0, .4);
    --BLACK-500: rgba(0, 0, 0, .5);
    --BLACK-600: rgba(0, 0, 0, .6);
    --BLACK-700: rgba(0, 0, 0, .7);
    --BLACK-800: rgba(0, 0, 0, .8);
    --BLACK-999: rgba(0, 0, 0, 1);
    --WHITE-100: rgba(255, 255, 255, .1);
    --WHITE-200: rgba(255, 255, 255, .2);
    --WHITE-300: rgba(255, 255, 255, .3);
    --WHITE-400: rgba(255, 255, 255, .4);
    --WHITE-500: rgba(255, 255, 255, .5);
    --WHITE-600: rgba(255, 255, 255, .6);
    --WHITE-700: rgba(255, 255, 255, .7);
    --WHITE-800: rgba(255, 255, 255, .8);
    --WHITE-999: rgba(255, 255, 255, 1);
    --GREY-50: #FBFBFD;
    --GREY-100: #F6F5F9;
    --GREY-200: #E2E2E8;
    --GREY-300: #CCCCD4;
    --GREY-400: #ABABB4;
    --GREY-500: #86868E;
    --GREY-600: #696972;
    --GREY-700: #4B4B55;
    --GREY-800: #34343D;
    --GREY-900: #161616;
    --PURPLE-100: #F2EBFF;
    --PURPLE-200: #E8DCFF;
    --PURPLE-300: #DBC8FF;
    --PURPLE-400: #C7ADFF;
    --PURPLE-500: #B696F9;
    --PURPLE-600: #9E7CE8;
    --PURPLE-700: #7459AC;
    --PURPLE-800: #413463;
    --PURPLE-900: #100024;
    --RED-100: #FFE9E9;
    --RED-200: #FFD4D4;
    --RED-300: #FFB5B5;
    --RED-400: #F88989;
    --RED-500: #FD6F77;
    --RED-600: #F6515B;
    --RED-700: #DB2F46;
    --RED-800: #9E1A2B;
    --RED-900: #600E19;
    --YELLOW-100: #FFF3DC;
    --YELLOW-200: #FFEAC2;
    --YELLOW-300: #FFDE9E;
    --YELLOW-400: #FFD27C;
    --YELLOW-500: #FFC350;
    --YELLOW-600: #FFB524;
    --YELLOW-700: #DF9912;
    --YELLOW-800: #AC7813;
    --YELLOW-900: #7D5300;
    --TEAL-100: #E5F8F4;
    --TEAL-200: #CCEFE9;
    --TEAL-300: #AFE7DC;
    --TEAL-400: #89CFC2;
    --TEAL-500: #6CBFB0;
    --TEAL-600: #5AAA9C;
    --TEAL-700: #388275;
    --TEAL-800: #206C5E;
    --TEAL-900: #103735;
    --BLUE-100: #E5EEFB;
    --BLUE-200: #D4E7FF;
    --BLUE-300: #BBD9FF;
    --BLUE-400: #92BFF8;
    --BLUE-500: #6DA7F2;
    --BLUE-600: #5B92E3;
    --BLUE-700: #4C73C3;
    --BLUE-800: #3C4D89;
    --BLUE-900: #172A50;
    --SHADOWS-FOCUS: 0 0 0 3px var(--PURPLE-200);
    --SHADOWS-DEPTH-01: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.08);
    --SHADOWS-DEPTH-02: 0px 2px 10px rgba(0, 0, 0, 0.08);
    --SHADOWS-DEPTH-03: 0px 4px 20px rgba(0, 0, 0, 0.08);
    --TRANSITIONS-CUBIC-BEZIER: cubic-bezier(.25, .8, .25, 1);
    --TRANSITIONS-DEFAULT: 300ms cubic-bezier(.25, .8, .25, 1);
    --SPACING-0: 0;
    --SPACING-4: 4px;
    --SPACING-8: 8px;
    --SPACING-12: 12px;
    --SPACING-16: 16px;
    --SPACING-20: 20px;
    --SPACING-24: 24px;
    --SPACING-32: 32px;
    --SPACING-40: 40px;
    --SPACING-48: 48px;
    --SPACING-64: 64px;
    --SPACING-80: 80px;
    --SPACING-128: 128px;
    --black: #000;
    --white: #fff;
    --grey-50: #fbfbfd;
    --grey-100: #f6f5f9;
    --grey-200: #e2e2e8;
    --grey-300: #ccccd4;
    --grey-400: #ababb4;
    --grey-500: #86868e;
    --grey-600: #696972;
    --grey-700: #4b4b55;
    --grey-800: #34343d;
    --grey-900: #161616;
    --purple-100: #f2ebff;
    --purple-200: #e8dcff;
    --purple-300: #dbc8ff;
    --purple-400: #c7adff;
    --purple-500: #b696f9;
    --purple-600: #9e7ce8;
    --purple-700: #7459ac;
    --purple-800: #413463;
    --purple-900: #100024;
    --green-100: #e5f8f4;
    --green-200: #ccefe9;
    --green-300: #afe7dc;
    --green-400: #89cfc2;
    --green-500: #6cbfb0;
    --green-600: #5aaa9c;
    --green-700: #388275;
    --green-800: #206c5e;
    --green-900: #103735;
    --pink-100: #ffe9e9;
    --pink-200: #ffd4d4;
    --pink-300: #ffb5b5;
    --pink-400: #f88989;
    --pink-500: #fd6f77;
    --pink-600: #f6515b;
    --pink-700: #db2f46;
    --pink-800: #9e1a2b;
    --pink-900: #600e19;
    --blue-100: #e5eefb;
    --blue-200: #d4e7ff;
    --blue-300: #bbd9ff;
    --blue-400: #92bff8;
    --blue-500: #6da7f2;
    --blue-600: #5b92e3;
    --blue-700: #4c73c3;
    --blue-800: #3c4d89;
    --blue-900: #172a50;
    --orange-100: #ffeadd;
    --orange-200: #ffd9c1;
    --orange-300: #ffc2a0;
    --orange-400: #ffa681;
    --orange-500: #ff8963;
    --orange-600: #df582d;
    --orange-700: #df582d;
    --orange-800: #b24522;
    --orange-900: #71260e;
    --yellow-100: #fff3dc;
    --yellow-200: #ffeac2;
    --yellow-300: #ffde9e;
    --yellow-400: #ffd27c;
    --yellow-500: #ffc350;
    --yellow-600: #ffb524;
    --yellow-700: #df9912;
    --yellow-800: #ac7813;
    --yellow-900: #7d5300;
    font-size: 16px;
    --opacity-20: 0.2;
    --opacity-40: 0.4;
    --opacity-60: 0.6;
    --opacity-80: 0.8;
    --opacity-100: 1;
    --space-25: 0.25rem;
    --space-50: 0.5rem;
    --space-100: 1rem;
    --space-150: 1.5rem;
    --space-200: 2rem;
    --space-300: 3rem;
    --space-400: 4rem;
    --space-500: 5rem;
    --space-800: 8rem;
    --transitions-default: 0.3s cubic-bezier(0.25,0.8,0.25,1);
    --border-radius-full: 99999px;
    --border-radius-large: 16px;
    --border-radius-medium: 8px;
    --border-radius-small: 4px;
    --breakpoint-mobile: 360px;
    --breakpoint-tablet: 768px;
    --breakpoint-small-desktop: 1024px;
    --breakpoint-desktop: 1440px;
    --maximum-content-width: 1216px;
}









.heading.section-title {
    margin-top: 40px;
    margin-bottom: 16px;
}

.text--wide.jsx-3138333315 {
    font-family: var(--FONTS-WIDE);
    line-height: 1.2;
    letter-spacing: -.01rem;
}

.text--tight.jsx-3138333315 {
    line-height: 1.3;
}

.text--medium.jsx-3138333315 {
    font-weight: 600;
}

.text.jsx-3138333315 {
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    color: var(--GREY-900);
    font-size: var(--FONT-SIZES-H3);
}

.split-form-fields.jsx-b7e9c2b4ca9e5e4f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    margin-bottom: 24px;
}

.ff-form-input {
    margin-bottom: 0px !important;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}

.Input_wrapper--is-error__NAy6s {
    /* border-color: var(--pink-400); */
}

.Input_input__cj9H_ {
    width: 100%;
    color: black;
    padding: 0 var(--space-50);
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: 0;
    font-family: var(--FONTS-SANS);
    font-size: var(--INPUT-FONT-SIZE);
    font-weight: 400;
}

.error.jsx-aadd4f821f702b1a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 0.625rem;
    font-size: 12px;
    font-weight: unset;
    color: var(--pink-700);
    line-height: 150%;
    display: none;
}

.error__icon-wrapper.jsx-aadd4f821f702b1a {
    padding: 2px;
    margin-right: 6px;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}

.Input_wrapper__gXdjm {
    --INPUT-BORDER-WIDTH: 2px;
    --INPUT-FONT-SIZE: var(--FONT-SIZES-C1);
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 var(--space-50);
    color: var(--purple-900);
    background-color: var(--white);
    border: solid var(--INPUT-BORDER-WIDTH) var(--grey-200);
    border-radius: var(--border-radius-small);
    cursor: text;
    transition: all var(--transitions-default);
}

.Input_input__cj9H_ {
    width: 100%;
    padding: 0 var(--space-50);
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: 0;
    font-family: var(--FONTS-SANS);
    font-size: var(--INPUT-FONT-SIZE);
    font-weight: 400;
}
 
.error__icon-wrapper.jsx-aadd4f821f702b1a {
    padding: 2px;
    margin-right: 6px;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.divider.jsx-1c55a8c265dd10a3 {
    margin: var(--SPACING-40)var(--SPACING-0)var(--SPACING-0) !important;
    height: 1px;
    border: none;
    background-color: var(--GREY-200);
}

.heading.section-title {
    margin-top: 40px;
    margin-bottom: 16px;
}

.passenger-info-card.jsx-3b58081b6069b723 {
    margin-bottom: 32px;
}

.Stamp_stamp__f_B0Y.Stamp_stamp--border-radius-small__jrGVV {
    border-radius: var(--border-radius-small);
}

.vspace.jsx-2818824>*+* {
    margin-top: var(--SPACING-24) !important;
}

.text--wide.jsx-571196170 {
    font-family: var(--FONTS-WIDE);
    line-height: 1.2;
    letter-spacing: -.01rem;
}

.passenger-info-name-container.jsx-3b58081b6069b723 {
    display: grid;
    grid-template-columns: 4fr 10fr 10fr;
    grid-column-gap: 16px;
    margin-bottom: 24px;
}

.vspace.jsx-204768237>*+* {
    margin-top: var(--SPACING-12) !important;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}

.ff-select.jsx-3976548768 {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--WHITE-999);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAh0lEQVR4Ae3MAQaEQBSA4T9m7IHWtgdYe4F0iYAAAQkECOgYgYKgo03kSRKaBpL3DYz3vB/1BEp9SYg4EpESc1KMw9Fh2DN0y+7jE3L0mF2ml82bk/KDlF0zGR6KNWUlM8okx1MphyOW18WMqOV4YJJfwUUNbvMqRFiqJlC7ZBrC8efHTSilZt+aP++FtrqNAAAAAElFTkSuQmCC);
    background-position: right 16px center;
    background-repeat: no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
    border: 1px solid var(--GREY-200);
    font-family: var(--FONTS-SANS);
    font-size: 16px;
    font-weight: normal;
    height: 48px;
    width: 100%;
    outline: 0;
    padding: 0 56px 0 16px;
    vertical-align: middle;
    color: var(--purple-900);
    border: solid 2px var(--grey-200);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    border-radius: var(--border-radius-small);
    -webkit-transition: all var(--transitions-default);
    -moz-transition: all var(--transitions-default);
    -o-transition: all var(--transitions-default);
    transition: all var(--transitions-default);
}

.ff-form-input {
    margin-bottom: 0px !important;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}


.Input_wrapper__gXdjm {
    --INPUT-BORDER-WIDTH: 2px;
    --INPUT-FONT-SIZE: var(--FONT-SIZES-C1);
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 var(--space-50);
    color: var(--purple-900);
    background-color: var(--white);
    border: solid var(--INPUT-BORDER-WIDTH) var(--grey-200);
    border-radius: var(--border-radius-small);
    cursor: text;
    transition: all var(--transitions-default);
}

.Input_input__cj9H_ {
    width: 100%;
    padding: 0 var(--space-50);
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: 0;
    font-family: var(--FONTS-SANS);
    font-size: var(--INPUT-FONT-SIZE);
    font-weight: 400;
}
 

.error__icon-wrapper.jsx-aadd4f821f702b1a {
    padding: 2px;
    margin-right: 6px;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.ff-form-input {
    margin-bottom: 0px !important;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}

.Input_input__cj9H_ {
    width: 100%;
    padding: 0 var(--space-50);
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: 0;
    font-family: var(--FONTS-SANS);
    font-size: var(--INPUT-FONT-SIZE);
    font-weight: 400;
}
 

.error__icon-wrapper.jsx-aadd4f821f702b1a {
    padding: 2px;
    margin-right: 6px;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.split-form-fields.jsx-b7e9c2b4ca9e5e4f:last-of-type {
    margin-bottom: 0px;
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

label.jsx-aadd4f821f702b1a {
    color: var(--purple-900);
    font-size: 1rem;
    font-weight: normal;
    line-height: 150%;
}

.required-indicator.jsx-aadd4f821f702b1a {
    margin: 4px;
    font-weight: 600;
    color: var(--purple-900);
}

.ff-form-field__content.jsx-aadd4f821f702b1a {
    margin-top: var(--SPACING-8);
}

.ff-form-field.jsx-aadd4f821f702b1a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    font-size: var(--FONT-SIZES-C1);
    line-height: 1.5;
}

.date-picker-form-target.jsx-4cdc6bcd65dac56c {
    background: var(--WHITE-999);
    border: 2px solid var(--GREY-200);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 48px;
    font-family: var(--FONTS-SANS);
    font-size: var(--FONT-SIZES-C1);
    font-weight: normal;
    outline: 0;
    padding: 0 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.DatePickerInput_date-picker-input--month__rCctI {
    width: 30px;
}

.DatePickerInput_date-picker-input__Olp17 {
    font-size: 16px;
    border: none;
    color: black;
    outline: none;
    position: relative;
    top: 1px;
    padding: 1px 2px;
    margin: 0;
}
.DatePickerInput_date-picker-input__Olp17::placeholder{
    color: black !important;
}

.input-delimiter.jsx-1374e38095dd839a {
    color: var(--GREY-600);
    margin-left: 4px;
    margin-right: 4px;
}

.DatePickerInput_date-picker-input--month__rCctI {
    width: 30px;
}

.DatePickerInput_date-picker-input__Olp17 {
    font-size: 16px;
    border: none;
    outline: none;
    position: relative;
    top: 1px;
    padding: 1px 2px;
    margin: 0;
}

.DatePickerInput_date-picker-input--year__XALno {
    width: 50px;
}

.BaggageSelection_baggage-selection-container__TLSH_ {
    display: grid;
    grid-gap: 16px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.BaggageSelection_baggage-selection--segment__iPZaj {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--GREY-200);
}

.BaggageSelection_baggage-selection--segment--header__Iefhg {
    display: flex;
    align-items: center;
}

.BaggageSelection_baggage-selection--segment--header__Iefhg>div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.BaggageSelection_baggage-selection--segment--header__Iefhg>div:last-child>span:last-child {
    color: var(--GREY-500);
}

.BaggageSelection_baggage-selection--segment--baggage-info__Cw9NA {
    margin-top: 24px;
}

.BaggageSelection_baggage-selection--segment--baggage-info--title__YXLz5 {
    font-weight: 700;
    margin-bottom: 8px;
}

.baggage-display.jsx-b46994c217fa472 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.baggage-display__label.jsx-b46994c217fa472 {
    margin-left: 12px;
}

.BaggageSelection_baggage-selection--segment__iPZaj {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--GREY-200);
}

.BaggageSelection_baggage-selection--segment--baggage-info__Cw9NA {
    margin-top: 24px;
}

.BaggageSelection_baggage-selection--segment--header__Iefhg>div:last-child>span:last-child {
    color: var(--GREY-500);
}

.BaggageSelection_baggage-selection--segment--baggage-info--title__YXLz5 {
    font-weight: 700;
    margin-bottom: 8px;
}

.baggage-display.jsx-b46994c217fa472 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ff-icon.jsx-889422082 {
    margin-left: initial;
    display: block;
    fill: currentColor;
}

.BaggageSelection_baggage-selection--segment--baggage-info--title__YXLz5 {
    font-weight: 700;
    margin-bottom: 8px;
}

.BaggageSelection_baggage-selection-container__TLSH_ .duffel-components {
    --ACCENT: 22, 22, 22;
}

.duffel-components .baggage-selection__control-container:last-child {
    margin-bottom: 0;
}

.duffel-components .baggage-display {
    display: flex;
    align-items: center;
}

.duffel-components .ff-icon {
    margin-left: 0;
    display: block;
    fill: currentColor;
}

.duffel-components .baggage-display__content {
    margin-left: var(--SPACING-SM-1);
}

.duffel-components .baggage-display__label {
    color: var(--grey-900);
    font-size: var(--FONT-SIZES-C2);
}

.duffel-components .baggage-display__price {
    font-size: var(--FONT-SIZES-C2);
    color: var(--GREY-600);
    margin-left: var(--SPACING-XS-2);
}

.duffel-components .baggage-display__specs {
    margin-top: var(--SPACING-XS-2);
    font-size: var(--FONT-SIZES-C3);
    color: var(--GREY-600);
}

.duffel-components .baggage-selection__control {
    display: flex;
    align-items: center;
}

.duffel-components .counter {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .duffel-components .duffel-button.duffel-button--icon-only {
        padding: var(--BUTTON-ICON-SPACING);
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width: 768px) {

    .duffel-components .counter__count-label {
        width: var(--SPACING-LG-1);
    }
}.duffel-components .counter__count-label {
    font-size: var(--FONT-SIZES-C2);
    text-align: center;
    align-self: center;
    color: var(--GREY-900);
    width: var(--SPACING-LG-2);
}.duffel-button__icon {
    display: block;
    height: var(--BUTTON-ICON-SIZE);
    width: var(--BUTTON-ICON-SIZE);
}.duffel-components .duffel-button.duffel-button--icon-only>svg {
    --BUTTON-ICON-SIZE: 24px;
    margin: 0 auto;
}.duffel-components .duffel-button .duffel-button__icon {
    display: block;
    height: var(--BUTTON-ICON-SIZE);
    width: var(--BUTTON-ICON-SIZE);
}.heading.section-title {
    margin-top: 40px;
    margin-bottom: 16px;
}.seat-selection-card-container.jsx-c07136818419d022 {
    margin-top: var(--SPACING-16);
}
.seat-selection__card.jsx-d7b8d61f4c7ca103 {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    border: 1px solid var(--GREY-200);
    background: var(--WHITE-999);
    padding: var(--SPACING-32);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    font-size: 14px;
    line-height: 150%;
}



.for-last-border{

    border-bottom: 1px dashed silver;

}